* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#title {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

#form {
  /* max-width: 1140px; */
  /* min-width: 100%; */
  background-color: aqua;
  width: 96%;
  margin: 40px;
}

.form-input {
  display: flex;
  flex-direction: row;
}

label {
  padding-right: 10px;
  float: left;
}

label,
.form-input input {
  /* float: right; */
  display: table-cell;
  margin-bottom: 10px;
}

#submit {
  text-align: right;
  background-color: pink;
  width: 100%;
}

#submit input {
  border: 1px solid #3079ed;
  box-shadow: none;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding: 8px 12px;
  width: 30%;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}
