* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

#title {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  color: #f28b82;
  font-size: 20px;
  /* border-width: 10px; */
}

#container {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 60px;
}

#container h4 {
  padding: 3rem 0 1rem 0;
  /* color: #fff; */
}

.form-example {
  width: 100%;
}

.form-example input {
  /* background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  border-radius: 2px;
  border: 1px solid grey; */
}

#submit {
}
